@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat);
  color: var(--regal-black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1512 * 10);
}

@media (max-width: 767px) {
  html {
    font-size: calc(100vw / 320 * 10);
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

a,
button {
  display: block;
}