@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat);
  color: var(--regal-black);
  min-height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 3px;
  position: absolute;
}

body::-webkit-scrollbar-track {
  background: #FFFFFF;
}

body::-webkit-scrollbar-thumb {
  background: #171717;
  border: none;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1512 * 10);
}

@media (max-width: 1023px) {
  html {
    font-size: calc(100vw / 744 * 10);
  }
}

@media (max-width: 539px) {
  html {
    font-size: calc(100vw / 320 * 10);
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

a,
button,
input {
  display: block;
}

.pointer-events-none {
  pointer-events: none !important;
}